@import 'src/app/variables.scss';

.pageChat {
    border-right: $border;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

.footerChat {
    max-height: $section2;
    display: flex;
    align-items: end;
    width: 100%;
}

.bodyChat {
    max-height: calc(100dvh - $section2);
}



.textareaChat {
    border: none;
    box-shadow: none;
    outline: none;
    resize: none;
    /* Evita que el usuario pueda cambiar el tamaño manualmente */
    background-color: transparent;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    /* Muestra el scroll si la altura máxima es alcanzada */
}

/* Opcional: Estilo al enfocar el textarea */