@import "src/app/variables.scss";

.mainLayout {
    display: grid;
    min-width: 100dvw;
    min-height: 100dvh;
    grid-template-columns: auto auto 1fr;
}

.drawer1 {
    min-width: $section4;
    border-right: $border;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.drawer2 {
    width: $section5;
    border-right: $border;
    display: grid;
    min-height: 100dvh;
    max-height: 100dvh;
    grid-template-rows: auto 1fr;
}


.header {
    height: $section1;
    border-bottom: $border;

}

.footer {
    height: $section1;
    border-top: $border;
}